.feed {
  list-style: none;
}

.feed li:not(:last-child) {
  margin-bottom: 32px;
}

/* .feed_item {
  width: 320px;
  height: 400px;
} */

.feed img {
  /* display: block; */
  /* padding: 0;
  margin: 0; */
  transform: translateX(-50%);
  opacity: 0;
  transition: all 500ms linear;
  /* width: 100%;
  height: auto; */
  width: 320px;
  height: 240px;
  object-fit: cover;
}

.feed img.appear {
  transform: translateX(0);
  opacity: 1;
}
